table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
    font-family: 'Montserrat', sans-serif ;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.coluna-primaria {
    font-weight: bold;
}

.coluna-secundaria {
    width: 50%;
}