.areaPesquisa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 81vh;
    font-family: 'Montserrat', sans-serif ;
    background-image: url("../../assets/Imagem-Transito.png");
    background-size: cover; /* Ajusta o tamanho para cobrir a largura da tela */
    background-position: center center;
}

.areaPesquisa-container input[type="text"] {
    width: 35%;
    height: 45px;
    margin: 20px;
    color: #FF9001;
    padding-left: 10px;
    outline: none;
    font-size: 1em;
    letter-spacing: .2em;
    font-weight: 600;
}

.areaPesquisa-container input[type="text"]::placeholder {
    font-weight: normal;
    font-style: italic
}

.areaPesquisa-container input[type="button"] {
    width: 150px;
    height: 50px;
    background: #1C99E0;
    color: white;
    border-style: hidden;
    text-shadow: none;
    font-size: 1em;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.areaPesquisa-container input[type="button"]:hover {
    background: #FF9001;
}

.areaPesquisa-container input[type="button"]:active {
    background: #ffaf46;
}
