.header-container {
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url("../../assets/Consulta-Placa.png");
    background-size: cover; /* Ajusta o tamanho para cobrir a largura da tela */
    background-position: center center;
}

.home-btn {
    font-size: 2em;
    margin: 20px;
    color: #ffffff;
    opacity: .7;
    cursor: pointer;
    transition: all .2s ease-in;
}

.home-btn:hover {
    opacity: 1;
}

@media (max-width: 400px) {
    .header-container {
        background-size: cover; 
        background-repeat: no-repeat;
        height: 20vh;
    }
}