.header-container {
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url("../../assets/Consulta-Placa.png");
    background-size: cover; /* Ajusta o tamanho para cobrir a largura da tela */
    background-position: center center;
}

@media (max-width: 400px) {
    .header-container {
        background-size: cover; 
        background-repeat: no-repeat;
        height: 20vh;
    }
}